.btn {
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  line-height: 1;
  min-width: 0;
}

.btn::before {
  content: attr(data-text);
  border-radius: inherit;
  position: absolute;
  top: -6px;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  transition: top 0.12s ease-in-out, transform 0.12s ease-in-out;
  transform-origin: center;
}

.btn:active::before {
  top: 0px;
  transform: translateY(0);
}

.btn-primary {
  background: var(--primary);
  color: var(--text);
}

.btn-primary::before {
  background: var(--secondary);
}

.btn-secondary {
  background: var(--secondary);
  color: var(--text);
}

.btn-secondary::before {
  background: var(--primary);
}
